body {
  display: grid;
  place-items: center;
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
}

h1 {
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background: black;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }

  .custom-id {
    color: #ffffff;
  }

  .loader,
  .loader:before,
  .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    display: none;
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 7px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@media (prefers-color-scheme: light) {
  .loader,
  .loader:before,
  .loader:after {
    background: #000000;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    display: none;
    color: #000000;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 7px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

.url-form {
  margin: 80px 0px 80px 0px;
}

form {
  display: grid;
  grid-gap: 2rem;
}

.url-input {
  outline: none;
  height: 2.0rem;
  padding: 0 calc(2.8rem * 0.5);
  border-radius: calc(5.8rem * 0.3);
}

.custom-id {
  border: none;
  border-bottom: 2px solid #1890ff;
  outline: none;
  vertical-align: middle;
  height: 25px;
  width: 100px;
  background: none;
  font-size: 15px;
}

.base-url {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  padding-left: 10px;
}

.custom-URL {
  display: none;
}

.customize-id label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.customize-id input {
  vertical-align: middle;
}
.customize-id label span {
  vertical-align: middle;
}

.custom-label {
  font-size: 13px;
}

.submit-btn {
  height: 2.0rem;
  width: 8rem;
  border-radius: calc(5.8rem * 0.3);
  margin: auto;
}

#short-url-output {
  text-align: center;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


